<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Display name: <b><%= me.displayName %></b></p>
    <p>Job title: <b><%= me.jobTitle %></b></p>
    <p>Mail: <b><%= me.mail %></b></p>
    <p>Phone: <b><%= me.phone %></b></p>
    <p>Office <b>location: <%= me.officeLocation %></b></p>
    <p>Manager: <b><%= me.manager %></b></p>
    <p></br></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
